<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>註冊成功！</title>
</head>

<body>
	<div class="container">
		
		<% if(Pass) {%>
			<h1>註冊成功！</h1>
    		<p>顯示文章內容</p>
    	<% } else { %>
    		<h1>註冊失敗！</h1>
    		<p >錯誤的密碼！！</p>
   		<% } %>
	</div>
</body>
</html>
